.container {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  float: none;
  text-align: center;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

.map {
  width: 750px;
  height: 750px;
  padding: 0;
  margin: 0;
  float: left;
  border: 0.5px solid #777;
}

.settings {
  width: 247px;
  height: 750px;
  padding: 0;
  margin: 0;
  float: left;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  position: relative;
}

.legend {
  height: 450px;
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding-left: 10px;
  border-top: 1px solid #777;
}

.node {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  border: 0.5px solid #777;
  float: left;
  box-sizing: border-box;
  font-size: 4px;
  transition: 0.3s;
}

.node.open {
  background-color: lightcoral;
  border: 0.5px solid lightcoral;
  color: #fff;
}

.node.closed {
  background-color: red;
  border: 0.5px solid red;
  color: #fff;
}

.node.start {
  background-color: blue;
  border: 0.5px solid blue;
  color: #fff;
}

.node.end {
  background-color: purple;
  border: 0.5px solid purple;
  color: #fff;
}

.node.path {
  background-color: green;
  border: 0.5px solid green;
  color: #fff;
}

.node.wall {
  background-color: black;
  border: 0.5px solid black;
}

.button {
  background-color: lightblue;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  margin: 15px auto;
  padding: 5px;
  float: none;
}

.settings .node {
  display: inline-block;
  float: none;
  border: 0.5px solid #777;
  position: relative;
  top: 4px;
}
